NODE_ENV=
PORT=

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# CORS
CORS_ORIGIN=

# Rate Limiting
THROTTLE_TTL=
THROTTLE_LIMIT=

# Clerk
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
CLERK_PUBLISHABLE_KEY=

# Nest Observe
APP_KEY=
APP_SECRET=
